body {
    background: #f5d9d5;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3.5rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}

.icon {
    font-size: 3rem;
    color: #ffbebb;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f86c9f;
    font-weight: 100;
    font-size: 1.125rem;
}

.navbar.scrolled {
    background: #dec0de;
    transition: background 500ms;
}

